@import "tailwindcss";


h2 {
  @apply text-xl font-semibold lg:text-3xl my-8
}

p {
  @apply text-lg
}

.contain {
  @apply container mx-auto px-4 lg:px-44
}

h6 {
  @apply font-bold text-xl
}

h4 {
  @apply text-sm
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-zoom {
  animation: zoom 15s ease-in-out infinite alternate;
}

.animate-fadeUp {
  animation: fadeUp 1.5s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}
